#firstHeading {
    color: blue; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color:orange;
   

.introText{

    color:white;
    font-family: 'Patrick Hand SC', cursive;
}